/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */
/* Navbar.css */

/* Navbar.css */
/* Base styles for all screen sizes */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.left-links {
  margin-right: auto;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
}

/* Search bar styling */
.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  color: #fff;
  outline: none;
  width: 200px; /* Adjust the width of the input field */
}

.navbar-search input::placeholder {
  color: #ccc;
}

.navbar-search button {
  background-color: #f1545f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-search button:hover {
  background-color: #e03649;
}

/* Media Queries */

/* Tablet and smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-nav {
    margin-top: 1rem;
  }

  .left-links {
    margin-right: 0;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: #333; /* Dark background for mobile menu */
    position: absolute;
    top: 60px; /* Adjust the top position based on your design */
    left: 0;
    width: 100%;
    display: none; /* Hide the nav links by default */
  }

  .navbar-nav.active {
    display: flex; /* Show the nav links when active */
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .nav-link:hover {
    border-bottom: none; /* Remove the border bottom on hover for mobile */
  }

  .navbar-search {
    margin-top: 1rem;
    width: 100%;
  }

  .navbar-search input {
    border-radius: 5px; /* Adjust the border radius for mobile */
    width: 100%;
  }

  .navbar-search button {
    border-radius: 5px; /* Adjust the border radius for mobile */
  }
}
//add
